.Appss {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    /* border: solid red; */
    width: 70%;
  }
  
  
  
  
  
  .signupp{
    /* border: solid red; */
    width: 25%;
    margin: auto;
    margin-top: 2%;
    text-align: center;
    display: flex;
    justify-content: space-around;
   
  }
  
  .sign{
    text-decoration: none;
    color: #61dafb;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .log{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .log:hover{
    text-decoration: underline;
  }
  
  .contain{
    /* border: solid red; */
    display: flex;
    /* justify-content: space-between; */
  }
  
  .picc{
    /* border: solid red; */
    margin-left: 4%;
    width: 50%;
    margin-top: 7%;
  }
  
  .info{
    /* border: solid red; */
    text-align: left;
    margin-left: 5%;
    width: 46%;
    margin-top: 7%;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

   
  }

  #joinn{
    margin-left: 5%;
  }

  #formm{
    padding: 5%;
    
  }
 

  #name{
    padding: 3%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 3%;
    margin-top: 3%;
    border-radius: 5px;
  }
  select{
    padding: 2.6%;
    border: 1px solid #ccc;
    margin-bottom: 3%;
    margin-top: 3%;
    border-radius: 5px;
  }
  #mobile{
    padding: 3%;
    width: 65%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 1%;
    margin-left: 4%;
    margin-bottom: 3%;
    margin-top: 3%;
    border-radius: 5px;
  }

  #passcode{
    
         padding: 3%;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #ccc;
        margin-bottom: 3%;
        margin-top: 3%;
        border-radius: 5px;
  }
  
  #submit{
    padding: 4%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 3%;
    margin-top: 3%;
    border-radius: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
    color: white;
    background-color: cyan;
    cursor: pointer;
    
  }

  #para{
    margin-left: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
  }
  
  .logos{
    width: 100%;
  }